<section class="column">
  <header>
    <h1><i class="fa fa-flask"></i> Visualisation Experiments</h1>
  </header>
  <ul class="experiments">
    <li>
      <div class="experiment">
        <div class="meta">
          <h3 class="title">Circles</h3>
          <div class="sub-title">Guess the sizes of the circle</div>
        </div>
        <a routerLink="/experiments/results/circle" class="btn btn-link">
          All results
        </a>
        <a routerLink="/experiments/circle" class="btn btn-default btn-primary">
          Start
        </a>
      </div>
      <div class="experiment">
        <div class="meta">
          <h3 class="title">Perception</h3>
          <div class="sub-title">Find the object</div>
        </div>
        <a routerLink="/experiments/results/perception" class="btn btn-link">
          All results
        </a>
        <a routerLink="/experiments/perception" class="btn btn-default btn-primary">
          Start
        </a>
      </div>
      <div class="experiment">
        <div class="meta">
          <h3 class="title">Car Data</h3>
          <div class="sub-title">Multi Dimension Data Visualisation</div>
        </div>
        <a routerLink="/experiments/multi-data-dimension" class="btn btn-default btn-primary">
          Start
        </a>
      </div>
    </li>
  </ul>
</section>
